<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            color: #dc3545;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        .btn {
            background-color: #dc3545;
            color: white;
            font-weight: bold;
            border: none;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
        }

        .btn:hover {
            background-color: #c82333;
            cursor: pointer;
        }

        .btn:active {
            background-color: #bd2130;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Ошибка: <td th:text="${error}"></td></h1>
<div class="container">
    <a href="http://localhost:8080/loan-service/getTariffs-view"><button class="btn">К тарифам</button></a>
    <a href="http://localhost:8080/loan-service"><button class="btn">На главную</button></a>
</div>
<!-- Add Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
