<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Статусы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            color: #dc3545;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        .table {
            width: 80%;
            margin: auto;
            background-color: white;
            border-collapse: collapse;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
        }

        th {
            background-color: #17a2b8;
            color: white;
            padding: 1rem;
            text-align: right;
        }

        td {
            padding: 1rem;
            border-top: 1px solid #dee2e6;
            text-align: right;
        }

        tr:nth-child(odd) {
            background-color: #e9ecef;
        }

        .container {
            text-align: center;
        }

        .btn {
            background-color: #dc3545;
            color: white;
            font-weight: bold;
            border: none;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
        }

        .btn:hover {
            background-color: #c82333;
            cursor: pointer;
        }

        .btn:active {
            background-color: #bd2130;
        }
    </style>
</head>
<body>
<h1>Добро пожаловать в личный кабинет, <span th:text="${username}"></span>. Ниже приведены кредиты и их статусы.</h1>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Статус</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${statuses.empty}">
            <td colspan="3"> No Tariffs Available</td>
        </tr>
        <tr th:each="entry : ${statuses}">
            <td th:text="${entry.key}"></td>
            <td th:text="${entry.value}"></td>
            <td>
                <form th:action="@{http://localhost:8080/loan-service/deleteOrder-view}" th:method="post">
                    <input type="hidden" th:name="tariffType" th:value="${entry.key}"/>
                    <input type="hidden" th:name="username" th:value="${username}"/>
                    <button type="submit" class="btn">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="http://localhost:8080/loan-service">
        <button class="btn">На главную</button>
    </a>
    <a href="http://localhost:8080/loan-service/getTariffs-view">
        <button class="btn">К тарифам</button>
    </a>
</div>
<!-- Add Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
