<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            color: #dc3545;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        .table {
            width: 80%;
            margin: auto;
            background-color: white;
            border-collapse: collapse;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
        }

        th {
            background-color: #17a2b8;
            color: white;
            padding: 1rem;
            text-align: right;
        }

        td {
            padding: 1rem;
            border-top: 1px solid #dee2e6;
            text-align: right;
        }

        tr:nth-child(odd) {
            background-color: #e9ecef;
        }

        .btn {
            background-color: #dc3545;
            color: white;
            font-weight: bold;
            border: none;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
        }

        .btn:hover {
            background-color: #c82333;
            cursor: pointer;
        }

        .btn:active {
            background-color: #bd2130;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>На этой вкладке можно посмотреть присутствующие тарифы</h1>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Type</th>
            <th scope="col">Interest rate</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${tariffs.empty}">
            <td colspan="4">No Tariffs Available</td>
        </tr>
        <tr th:each="tariff : ${tariffs}">
            <td><span th:text="${tariff.id}">Id</span></td>
            <td><span th:text="${tariff.type}">Type</span></td>
            <td><span th:text="${tariff.interest_rate}">Interest rate</span></td>
            <td>
                <form th:action="@{/loan-service/order/}+${tariff.type}+@{-view}" method="post">
                    <button type="submit" class="btn">Взять кредит</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="http://localhost:8080/loan-service">
        <button class="btn">На главную</button>
    </a>
</div>
<!-- Add Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>